# Examen Demo

In [3]:
# Your imports HERE !!!!
import numpy as np
import pandas as pd

## 01
- Dado un diccionario con una lista de nombres de películas y el año concatenado, crear una función que devuelva un DataFrame con dos columnas:
  - Columna 1, el nombre de la película sin el año
  - Columna 2, el año de la película

In [5]:
movies = {'Name': ["Matrix - 1999", "Cadena Perpetua - 1994", "Parasitos - 2019", "Vengadores, Endgame - 2019", "Interstellar - 2014",
                   "Django Desencadenado - 2012", "El Padrino - 1972", "El Caballero Oscuro - 2008", "Erase Una Vez En America - 1984",
                   "El Senyor de los Anillos, La Comunidad del Anillo - 2001"]}
expected_output = pd.DataFrame({'Name':["Matrix", "Cadena Perpetua", "Parasitos", "Vengadores, Endgame", "Interstellar", "Django Desencadenado",
                                        "El Padrino", "El Caballero Oscuro", "Erase Una Vez En America", "El Senyor de los Anillos, La Comunidad del Anillo"],
                                'Year':["1999", "1994", "2019", "2019", "2014", "2012", "1972", "2008", "1984", "2001"]})
output = extract_year(movies)   # This will call your function extract_year
display(output)
assert(expected_output.equals(output))  # This will fail if the result is not as expected

                                                Name  Year
0                                             Matrix  1999
1                                    Cadena Perpetua  1994
2                                          Parasitos  2019
3                                Vengadores, Endgame  2019
4                                       Interstellar  2014
5                               Django Desencadenado  2012
6                                         El Padrino  1972
7                                El Caballero Oscuro  2008
8                           Erase Una Vez En America  1984
9  El Senyor de los Anillos, La Comunidad del Anillo  2001

In [4]:
def extract_year(movies):
    nombres= []
    anios = []
    for dat in movies['Name']:
        partes = dat.rsplit(' - ', 1)
        nombre = partes[0]
        anio = partes[1]
        nombres.append(nombre)
        anios.append(anio)
    return pd.DataFrame({'Name':nombres, 'Year':anios})

## 02
- Crear una función que reciba un array de NumPy y devuelva otro en el cual estén marcados como True los elementos duplicados (a partir de la segunda ocurrencia), y como False los no repetidos o las primeras ocurrencias de los duplicados.

In [7]:
numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
expected_output = np.array([False, True, True, False, False, False, False, False, True, False, True, True, False, False])
output = find_duplicates(numbers)   # This calls your function find_duplicates
print(output)
assert(np.array_equal(expected_output, output))  # This will fail if the result is not as expected

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10     True
11     True
12    False
13    False
dtype: bool

In [6]:
def find_duplicates(numbers):
    serie = pd.Series(numbers)
    return serie.duplicated()

## 03
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} -9x +  4y = 20 \\ -7y + 16x = 80                         \end{cases}$
    
    - $ B : \begin{cases} x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10 \end{cases}$
- Verifica por código los resultados

In [8]:
import math
import numpy.linalg as linalg

a = np.array([[-9,4],[16,-7]])
b = np.array([20,80])

x,y= linalg.solve(a,b)
print(math.isclose(-9*x+4*y,20))
print(math.isclose(-7*y+16*x,80))

True
True

## 04
- Crear un objeto Series con 10 elementos, que contenga más de un tipo básico, con índices de tipo string
- Demuestra que los datos con índices posicionales son los mismos que los obtenidos con índices semánticos, seleccionando a través de slicing, al menos 4 elementos de la serie anterior

In [10]:
serie = pd.Series([1,2.1,'tres',True,5,6.7,'siete'], index= list('abcdefg'))
print(serie.loc[:'d']== serie.iloc[:4])

a    True
b    True
c    True
d    True
dtype: bool

## 05
- Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango `[0,20]`
- Reemplazar todos aquellos elementos menores de 5 por NaN
- Averiguar cuantos elementos tienen Nan por fila

In [11]:
df = pd.DataFrame(np.random.randint(0,20, size=(10,10)))
print(df)
df [df<5] = np.nan
print(df)
print(df.isnull().sum(axis=1))

    0   1   2   3   4   5   6   7   8   9
0  12  14  16   4   2   1  16   3   7   3
1   3   7   5   2  11   4  17   9  11  13
2  10   2  10   1   3  17   3   9   7  10
3   7  13  15  16   6  11  14  16  17  18
4  14  14   7   8   8  19   8   2  10  19
5  11   4  14   2  10  12  12  10  12  15
6   6  13  14  17  14   0   6  17  15   3
7   7   8   7   8   4   4   8  10  14  12
8  19   2  16  12   7   4   0  19   1   4
9   8   2  19   4  13  14  11   2   2   6
      0     1   2     3     4     5     6     7     8     9
0  12.0  14.0  16   NaN   NaN   NaN  16.0   NaN   7.0   NaN
1   NaN   7.0   5   NaN  11.0   NaN  17.0   9.0  11.0  13.0
2  10.0   NaN  10   NaN   NaN  17.0   NaN   9.0   7.0  10.0
3   7.0  13.0  15  16.0   6.0  11.0  14.0  16.0  17.0  18.0
4  14.0  14.0   7   8.0   8.0  19.0   8.0   NaN  10.0  19.0
5  11.0   NaN  14   NaN  10.0  12.0  12.0  10.0  12.0  15.0
6   6.0  13.0  14  17.0  14.0   NaN   6.0  17.0  15.0   NaN
7   7.0   8.0   7   8.0   NaN   NaN   8.0  10.0  14.0  12.0
8  19.0   NaN  16  12.0   7.0   NaN   NaN  19.0   NaN   NaN
9   8.0   NaN  19   NaN  13.0  14.0  11.0   NaN   NaN   6.0
0    5
1    3
2    4
3    0
4    1
5    2
6    2
7    2
8    5
9    4
dtype: int64

## 06
- Dada una lista de elementos, crea una función que devuelva un dataframe sin los elementos duplicados

In [13]:
serie = ['a','b','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = remove_duplicates(serie)   # This will call tour function remove_duplicates
display(output)
display(expected_output)
assert(expected_output.equals(output))  # This will fail if the result is not as expected

   0
0  a
1  b
2  c
3  g

   0
0  a
1  b
2  c
3  g

In [12]:
def remove_duplicates(serie):
    return pd.DataFrame(np.unique(serie))

## 08
- Crear una función que reciba una Serie de Pandas y devuelva esa misma serie, reemplazando los espacios en blanco por el carácter menos frecuente en dicha serie.

In [15]:
serie = pd.Series(list('bba cabc faabba aacbbfe'))
expected_output = pd.Series(list('bbaecabcefaabbaeaacbbfe'))
output = clean_whitespace_replace(serie)  # This calls your function clean_whitespace_replace
print(output)
assert(expected_output.equals(output))  # This will fail if result is not as expected

0     b
1     b
2     a
3     e
4     c
5     a
6     b
7     c
8     e
9     f
10    a
11    a
12    b
13    b
14    a
15    e
16    a
17    a
18    c
19    b
20    b
21    f
22    e
dtype: object

In [14]:
def clean_whitespace_replace(serie):
    less_freq = serie.value_counts().idxmin()
    serie[ serie == ' ']= less_freq
    return serie